name: Build

on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
    branches: [main]
  workflow_dispatch:
env:
  LATEST_PY_VERSION: '3.13'


jobs:
  # Run unit tests for each supported python version
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
      fail-fast: false

    steps:
      # Install dependencies, with caching
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock
      # HDF5 headers are required to compile pytables (no wheel yet released for python 3.14)
      - name: Install system dependencies
        if: ${{ matrix.python-version == '3.14' }}
        run: sudo apt-get update && sudo apt-get install -y libhdf5-dev
      - name: Install dependencies
        run: |
          uv python install ${{ matrix.python-version }}
          # For pytables on python 3.14, use unreleased fixes from repo required for compilation
          if [ "${{ matrix.python-version }}" = "3.14" ]; then
            uv sync --all-extras --no-extra hdf
            uv pip install "tables @ git+https://github.com/PyTables/PyTables.git@5582fe2d"
          else
            uv sync --all-extras
          fi

      # Run tests with coverage report
      - name: Run tests
        run: uv run nox -e cov -- xml

        # Latest python version: send coverage report to codecov
      - name: "Upload coverage report to Codecov"
        if: ${{ matrix.python-version == env.LATEST_PY_VERSION }}
        uses: codecov/codecov-action@v5


  # Run code analysis checks via pre-commit hooks
  analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.LATEST_PY_VERSION }}
      - name: Run style checks & linting
        uses: pre-commit/action@v3.0.1
